[telegram]
bot_token = "YOUR_BOT_TOKEN"

[[telegram.allowed_users]]
chat_id = 123456789
user_id = 987654321

[wireguard]
interface = "wg0"
config_path = "/opt/etc/wireguard/wg0.conf"

[[wol.hosts]]
name = "asrock-server"
mac = "AA:BB:CC:DD:EE:FF"
broadcast = "192.168.1.255"

[scheduler]
auto_off_minutes = 30

[network]
# prefer_ipv6 = true   # резолвить AAAA (IPv6) раньше A (IPv4)
